<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to GTF Simple</title>
    </head>
    <body>
        <ul>
            <li>@Html.ActionLink("Stop Times", "Index", "StopTimes")</li>
        </ul>
    </body>
</html>